{% extends 'base.html.twig' %}

{% block title %}HDD{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1>HDD</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <div class="col-4" id="colonne-1"></div>
            <div class="col 4" id="colonne-1">
                <br><br>
                <h2>Creer :</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-4" id="colonne-1"></div>
            <div class="col-4" id="colonne-1">
                {{form_start(form_hdd)}}

                {{form_row(form_hdd.Nom, {'attr' : {'placeholder' : "Désignation du disque dur"}})}}
                {{form_row(form_hdd.Modele, {'attr' : {'placeholder' : "Modele du disque dur"}})}}
                {{form_row(form_hdd.Marque, {'attr' : {'placeholder' : "Marque du disque dur"}})}}
                {{form_row(form_hdd.Capacite, {'attr' : {'placeholder' : "Capacite"}})}}
                {{form_row(form_hdd.Vitesse_rotation, {'attr' : {'placeholder' : "Vitesse de rotation"}})}}
                {{form_row(form_hdd.Stock, {'attr' : {'placeholder' : "Stock du disque dur"}})}}

                <button  type="submit" class="btn btn-success">
                        Enregistrer
                </button>

                {{form_end(form_hdd)}}
            </div>
        </div>
      </div> 

{% endblock %}