{% extends 'base.html.twig' %}

{% block title %}RAM{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1>RAM</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <div class="col-4" id="colonne-1"></div>
            <div class="col 4" id="colonne-1">
                <br><br>
                <h2>Creer :</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-4" id="colonne-1"></div>
            <div class="col-4" id="colonne-1">
                {{form_start(form_ram)}}

                {{form_row(form_ram.Nom, {'attr' : {'placeholder' : "Désignation de la RAM"}})}}
                {{form_row(form_ram.Modele, {'attr' : {'placeholder' : "Modele de la RAM"}})}}
                {{form_row(form_ram.Marque, {'attr' : {'placeholder' : "Marque de la RAM"}})}}
                {{form_row(form_ram.Type_memoire, {'attr' : {'placeholder' : "Type de mémoire"}})}}
                {{form_row(form_ram.Frequence_memoire, {'attr' : {'placeholder' : "Frequence mémoire de la RAM"}})}}
                {{form_row(form_ram.Capacite_par_barrette, {'attr' : {'placeholder' : "Capacite par barrette"}})}}
                {{form_row(form_ram.Stock, {'attr' : {'placeholder' : "Stock en réserve de la RAM"}})}}

                <button  type="submit" class="btn btn-success">
                        Enregistrer
                </button>

                {{form_end(form_ram)}}
            </div>

            
        </div>
      </div> 

{% endblock %}

