{% extends 'base.html.twig' %}

{% block title %}Boitier{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1>Boitier</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <div class="col-4" id="colonne-1"></div>
            <div class="col 4" id="colonne-1">
                <br><br>
                <h2>Creer :</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-4" id="colonne-1"></div>
            <div class="col-4" id="colonne-1">

                {{form_start(form_boitier)}}
                {{form_row(form_boitier.Nom, {'attr' : {'placeholder' : "Désignation de l'boitier"}})}}
                {{form_row(form_boitier.Modele, {'attr' : {'placeholder' : "Modele de l'boitier"}})}}
                {{form_row(form_boitier.Marque, {'attr' : {'placeholder' : "Marque de l'boitier"}})}}
                {{form_row(form_boitier.Format_boitier, {'attr' : {'placeholder' : "Format du boitier"}})}}
                {{form_row(form_boitier.Format_alim, {'attr' : {'placeholder' : "Format de l'alimentation"}})}}
                {{form_row(form_boitier.Stock, {'attr' : {'placeholder' : "Stock du boitier"}})}}

                <button  type="submit" class="btn btn-success">
                        Enregistrer
                </button>

                {{form_end(form_boitier)}}
                
            </div>
        </div>
      </div> 

{% endblock %}