 
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
        <div class="container-fluid">
            <ul class="navbar-nav">
            <a class="navbar-brand" href="#">Site</a>
            
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_accueil')}}">Accueil</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('ordinateur.show')}}">Ordinateur</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('alim.show')}}">Alimentation</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('ram.show')}}">RAM</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('hdd.show')}}">Disque Dur</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('ssd.show')}}">SSD</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('boitier.show')}}">Boitier</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('processeur.show')}}">Processeur</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('gpu.show')}}">Carte Graphique</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('cartemere.show')}}">Carte Mére</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('ventiradaio.show')}}">VentiRAD et AIO</a>
            </li>



            </ul>
        </div>
    </nav>