 
 <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
        <div class="container-fluid">
            <ul class="navbar-nav">
            <a class="navbar-brand" href="#">Site</a>
            
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_accueil')}}">Accueil</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_ordinateur')}}">Ordinateur</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_alim')}}">Alimentation</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_AccueilRam')}}">RAM</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('hdd.show')}}">Disque Dur</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_s_s_d')}}">SSD</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_boitier')}}">Boitier</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_processeur')}}">Processeur</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_g_p_u')}}">Carte Graphique</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_carte_mere')}}">Carte Mére</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_ventirad_a_i_o')}}">VentiRAD et AIO</a>
            </li>



            </ul>
        </div>
    </nav>