{% extends 'base.html.twig' %}

{% block title %}Ordinateur{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-5">
                <h1>Ordinateur</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <div class="col-4" id="colonne-1"></div>
            <div class="col 4" id="colonne-1">
                <br><br>
                <h2>Creer :</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-4" id="colonne-1"></div>
            <div class="col-4" id="colonne-1">
               {{form_start(form_Refroidisseur)}}

                {{form_row(form_ordinateur.Nom, {'attr' : {'placeholder' : "Désignation du ventiRad / AIO"}})}}
                {{form_row(form_ordinateur.Modele, {'attr' : {'placeholder' : "Modele du ventiRad / AIO"}})}}
                {{form_row(form_ordinateur.Marque, {'attr' : {'placeholder' : "Marque du ventiRad / AIO"}})}}
                {{form_row(form_ordinateur.Support_processeur, {'attr' : {'placeholder' : " Support du processeur du ventiRad / AIO"}})}}
                {{form_row(form_ordinateur.Vitesse_rota_mini, {'attr' : {'placeholder' : "Vitesse de rotation minimum du ventiRad / AIO"}})}}
                {{form_row(form_ordinateur.Vitesse_rota_maxi, {'attr' : {'placeholder' : "Vitesse de rotation maximum du ventiRad / AIO"}})}}
                {{form_row(form_ordinateur.Stock, {'attr' : {'placeholder' : "Stock en réserve  du ventiRad / AIO"}})}}

                <button  type="submit" class="btn btn-success">
                        Enregistrer
                </button>

                {{form_end(form_Refroidisseur)}}
            </div>
        </div>
    </div> 

{% endblock %}    
                 