{% extends 'base.html.twig' %}

{% block title %}Carte Graphique{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1>Carte Graphique</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <div class="col-4" id="colonne-1"></div>
            <div class="col 4" id="colonne-1">
                <br><br>
                <h2>Creer :</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-4" id="colonne-1"></div>
            <div class="col-4" id="colonne-1">
                {{form_start(form_gpu)}}

                {{form_row(form_gpu.nom, {'attr' : {'placeholder' : "Désignation de la carte graphique"}})}}
                {{form_row(form_gpu.modele, {'attr' : {'placeholder' : "Modele de la carte graphique"}})}}
                {{form_row(form_gpu.marque, {'attr' : {'placeholder' : "Marque de la carte graphique"}})}}
                {{form_row(form_gpu.chipset_graphique, {'attr' : {'placeholder' : "Chipset graphique"}})}}
                {{form_row(form_gpu.taille_memoire, {'attr' : {'placeholder' : "Taille de la mémoire"}})}}
                {{form_row(form_gpu.type_memoire, {'attr' : {'placeholder' : "Type de mémoire"}})}}

                <button  type="submit" class="btn btn-success">
                        Enregistrer
                </button>

                {{form_end(form_gpu)}}
            </div>
        </div>
      </div> 

{% endblock %}