{% extends 'base.html.twig' %}

{% block title %}Carte mére{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1>Carte mére</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        <div class="col-4" id="colonne-1"></div>
            <div class="col 4" id="colonne-1">
                <br><br>
                <h2>Creer :</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-4" id="colonne-1"></div>
            <div class="col-4" id="colonne-1">

                {{form_start(form_Cm)}}

                {{form_row(form_Cm.Nom, {'attr' : {'placeholder' : "Désignation de l'boitier"}})}}
                {{form_row(form_Cm.Modele, {'attr' : {'placeholder' : "Modele de l'boitier"}})}}
                {{form_row(form_Cm.Marque, {'attr' : {'placeholder' : "Marque de l'boitier"}})}}
                {{form_row(form_Cm.Support_processeur, {'attr' : {'placeholder' : "Support du processeur"}})}}
                {{form_row(form_Cm.Nbr_cpu_supporte, {'attr' : {'placeholder' : "Nombre de CPU supporté"}})}}
                {{form_row(form_Cm.Chipset, {'attr' : {'placeholder' : "Chipset"}})}}
                {{form_row(form_Cm.Type_memoire, {'attr' : {'placeholder' : "Type de mémoire"}})}}
                {{form_row(form_Cm.Capa_maxi_ram_par_slot, {'attr' : {'placeholder' : "Capacité maximal de RAM par slot"}})}}
                {{form_row(form_Cm.Capa_maxi_ram, {'attr' : {'placeholder' : "Capacité maximal de RAM"}})}}
                {{form_row(form_Cm.Stock, {'attr' : {'placeholder' : "Stock du boitier"}})}}

                <button  type="submit" class="btn btn-success">
                        Enregistrer
                </button>

                {{form_end(form_Cm)}}
            </div>
        </div>
      </div> 

{% endblock %}